/Book.class
/BookDetails.class
/CircleArea.class
/CostCalculator.class
/CurrencyExchange.class
/CylinderVolume.class
/InputOutput.class
/KilometersConverter.class
/Person.class
/PersonDetails.class
/PrintReservedWord.class
/ProductAndDifference.class
/Rectangle.class
/RectanglePerimeter.class
/RectangleToStringOverride.class
/SimpleCalculator.class
/SimpleInterest.class
/SquareArea.class
/TemperatureConversion.class
/TriangleArea.class
